* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Kumbh Sans', sans-serif;;
}

.container {
  margin: 0 auto;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
}
.accordion {
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  width: 320px;
  height: 505px;
  max-width: 98%;
}
.accordion__logo {
  margin-bottom: 1.5rem;
}
.accordion__answer {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.2s ease-out;
  
}
.accordion__answer.active {
  opacity: 1;
  height: auto;
}

.accordion__answer p {
  font-size: 0.68rem;
  color: hsl(240, 6%, 50%);
  padding-top: 5px;
}
.accordion h1 {
  text-align: center;
  padding-bottom: .8rem;
}
.accordion__content {
  margin-top: 2.5rem;
}
.accordion__item {
  border-bottom: 1px solid hsl(240, 5%, 91%);
  padding-bottom: .75rem;
  margin-top: .7rem;
}
.accordion__question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.accordion__question p {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 400;
  color: hsl(238, 29%, 16%);
}
.accordion__question img {
  align-self: start;
  margin: .5rem .5rem;
}

.bg-purple {
  background: linear-gradient(hsl(273, 75%, 66%),
  hsl(240, 73%, 65%));
}